*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 0;
}
.container{
    display: flex;
    
    .filterbox{
        width: 20%;
        h3{
            font-size: 25px;
            font-weight: 500;
            color: black;
            padding-bottom: 10px;
            margin-bottom: 0;
        }
        .categoryList{
            label{
                display: block;
                font-size: 18px;
                font-weight: 400;
                color: black;
                padding-bottom: 5px;
            }
        }
    }
    .products{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .productItem{
            width: 330px;
            box-shadow: 0 0 10px 2px #ccc;
            .img_area{
                height: 250px;
                margin-bottom: 5px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
            .content{
                padding: 10px;
            h4{
                font-size: 14px;
                font-weight: 400;
                color: black;
                border-bottom: 1px solid #ccc;
                padding-bottom: 5px;
            }
            p{
                padding-bottom: 10px;
                margin-bottom: 0;
                font-size: 16px;
                font-weight: 700;
                color: rgb(186, 62, 9);
            }
            h3{
                font-size: 14px;
                font-weight: 700;
                color: black;
                
            }
        }
        }
    }
}